<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>systemSound.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A31B5CF51D75AA23009BCC14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A31B5D091D75AA23009BCC14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A31B5D141D75AA23009BCC14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
